.red {
	color: red
}

.grande {
	//font-size: xx-large;
}

textarea.grande {
	width: 80%;
	height: 50%;
	font-size: normal;
}

.piccolo {
	font-size: xx-small;
}

.bordo-rotondo {
	border: 1px solid blue;
	border-radius: 10px;
	width: 50%;
	overflow: auto;
}

div {
	width: 600px;
	//text-align: center;
	padding: 50px 0px 0px 50px
}


